@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

.page-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.visually-hidden {
  position: fixed;
 transform: scale(0);
  }

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.button-navigation {
  display: block;
  background-color: #756157;
  padding: 9px 15px 8px;
  margin: 14px 0 14px 20px;
}

.button-search {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
}

.button-subscribe {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
}

.button-apply {
  background-color: #82B3D3;
}

.hotel-card-button {
  background-color: #756157;
}
.button-favorites {
  background-color: #82B3D3;
}

.button-favorites-added {
  background-color: #7DB54F;
}

/* Pages */
.main-header,.page-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.header-logo {
  display: block;
}


.page-navigation {
  display: flex;
  width: 475px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 17px;
}

.page-navigation-item:not(:last-child) {
  margin-right: 34px;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.user-navigation {
  display: flex;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: auto;
  align-items: center;
}


.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-align:center;
  text-decoration: none;
  text-transform: capitalize;
  padding-bottom: 19px;
}
.user-navigation .navigation-link {
  min-width: 18px;
  min-height: 18px;
  padding-top: 20px;
}


.intro {
  padding-top: 52px;
  background-image: url("../images/background-welcome.jpg");
  background-color: rgba(131, 179, 211, 0.2);
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 82px;
}

.welcome {
  display: block;
  margin: 0 auto;
}

/*List*/
.reasons {
  text-align: center;
}

.reasons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.details-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.welcome-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 63px;
  margin-bottom: 31px;

}

.welcome-reasons {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 90px;
}


.reasons-title,.details-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons-description {
  font-weight: 400;
}

.title-black {
  color: #000000;
}

.block-intense {
  background-color:#82B3D3;
  color: #ffffff;
}

.block-light {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.block-clear {
  background-color: #ffffff;
  color: #333333;
}

.block-medium {
  background-color: rgba(131, 179, 211, 0.2);
  color: #333333;
}

/*Search hotel*/
.hotel-search {
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 93px;
}

.question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 91px;
  margin-bottom: 29px;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 56px;
}

/*Subscribe*/
.subscribe {
  text-align: center;
}

.subscribe-index {
  padding-top: 94px;
  padding-bottom: 94px;
  background-image: url("../images/background-subscribe.jpg");
  background-color: #82B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscribe-catalog {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-news {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 46px;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

/*Footer*/
.page-footer {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 40px 70px 30px;
}


.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 142px;
  margin-left: 70px;
}

.footer-contacts {
  width: 720px;
  text-align: center;
}

.footer-designer {
  margin-left: auto;
}

.footer-contacts-information-phone {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
}

.inner-hotel-filter {
  padding: 35px 70px 70px;
  margin-bottom: 5px;
  background-image: url("../images/filter-background.jpg");
  background-color: #82B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 10px;
}

/*Breadcrumbs*/
.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 25px;
}

/* Link */
.breadcrumbs-link {
  color: inherit;
}

/*Filter*/
.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group-infrastructure {
  width: 151px;

}

.catalog-filter-group-type-place {
  width: 146px;
  margin-left: 70px;
}

.catalog-filter-group-cost {
  width: 288px;
  margin-left: 175px;
}

.function-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 160px;
  margin-left: 70px;
}



/* Title */
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #ffffff;
}

.search-result-show {
  display: flex;
  padding: 50px 71px 56px 72px;
}

.search-result-show .button {
  width: 48px;
  height: 48px;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 191px;
}

.search-result p {
  margin: 0;
  margin-top: 57px;
}

.select-control {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/*Hotels*/
.hotel-card {
  background-color: #ffffff;
}

.hotel-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*Link*/
.hotel-card-link {
  text-decoration: none;
  color: #000000;
}

/*Title*/
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}


.hotel-card-type {
  font-weight: 400;
  color: #333333;
}

.hotel-card-price {
  font-weight: 400;
  color: #333333;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination-container {
  display: flex;
  padding: 96px 71px 25px 73px;
}

.pagination {
  background-color: #ffffff;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}


.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.show-result {
  color: #333333;
  font-weight: 400;
  margin-left: auto;
}

.show-result-change {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
